<div class="m-featured-discussion">
  <div class="large-8  small-12 columns">

    <div id="3396145101" class="m-comments__item cdepth-1">

        <h2 class="title collapse_toggle ">
            I definitely agree on the 4-1-4-1 formation.
        </h2>

        <div class="cbody">
          <p>We definitely unlocked a lot of defenses in those string of games last season. (With the midfield three of Fellaini, Carrick and Herrera) For some reason those three truly balanced each other out because they all had three different roles that somehow worked out so well. With our current squad, I would love to see a midfield trio of Schneiderlin, Herrera/Mata, and rotate Carrick/Schweinsteiger (whoever is more fit) as the single pivot.</p>
        </div>

        <div class="m-comments__item-meta">
          <i class="icon"></i>
          <a href="http://www.sbnation.com/users/Winning%20XI" class="poster" target="_blank">Winning XI</a>
          on <a href="#339602267" class="date">Nov 13, 2015 |  6:09 AM</a>
        </div>
        <a class="m-comments__trophy"><%= partial "trophy" %> <span class="m-comments__trophy-count">10</span></a>
        <%= partial "comment-actions" %>
    </div>
    <div id="339613101" class="m-comments__item cdepth-2">
        <h2 class="title collapse_toggle ">
          I think given our current roster make up the formation switch would probably be more effective.
        </h2>

        <div class="cbody">
          <p>We have been praising our defense, and I’ve been gloating about Schneiderlin the whole season, how about we stop bang them with the double pivot and see how good they really are. And I think Schndeiderlin and Smalling would definitely be up to the task. Also Schneiderlin would have to be the pivot in that formation, in order to he can do his job of shielding the defense.</p>
          <p>If not that, I wish van Gaal would at least try playing Herrera alongside Scheiderlin in the double pivot,</p>
        </div>

        <div class="m-comments__item-meta">
          <i class="icon"></i>
          <a href="http://www.sbnation.com/users/David28" class="poster" target="_blank">David28</a>
          on <a href="#339613101" class="date">Nov 13, 2015 |  9:23 AM</a>
        </div>
        <a class="m-comments__trophy"><%= partial "trophy" %> <span class="m-comments__trophy-count">4</span></a>
        <%= partial "comment-actions" %>
    </div>

    <div id="339657677" class="m-comments__item cdepth-3">
      <h2 class="title collapse_toggle ">
        I think United would be better with a 4-1-4-1/4-3-3
      </h2>

      <div class="cbody">
        <p>That formation coincided with the best run of form the club had last season, and there are upgrades for some of the positions in that system now.  Schweinsteiger is an upgrade on Fellaini in a lot of areas, and the two could rotate in the left CM spot depending on the needs of the game and the opposition.  Schniederlin is arguably an upgrade on Carrick in that formation due to his much better defense, and if Schweinsteiger is starting you don’t miss Carrick’s creativity like you would if Fellaini started.  Martial is also an upgrade on Rooney in the striker spot.  Young could reprise his role on the left hand side, and Mata would play on the right so he can link up with Herrera and Darmian/Valencia like they did last season.  The only problem with this formation is that Rooney doesn’t have a place in it.  Most fans would agree that Rooney should be dropped/rested for a while, but it seems to be much tougher convincing the manager and the club to do it.</p>
      </div>

      <div class="m-comments__item-meta">
        <i class="icon"></i>
        <a href="http://www.sbnation.com/users/CH5279" class="poster" target="_blank">CH5279</a>
        on <a href="#339657677" class="date">Nov 13, 2015 |  1:15 PM</a>
      </div>
      <a class="m-comments__trophy"><%= partial "trophy" %> <span class="m-comments__trophy-count">15</span></a>
      <%= partial "comment-actions" %>
    </div>
</div>
</div>