<div class="m-featured-discussion">
<div class="m-featured-discussion__header">
  <h1>Featured Discussion</h1>
  <p>Featured discussions are threads from the comments that we think offer a valuable new perspective or a deeper dive into one facet of the story. We hope you'll consider adding your voice to help the story evolve.</p>
  <a id="featured-close-btn"><i class="fi-x"></i></a>
</div>
  <div class="large-12 small-12 columns">
    <div id="339638535" class="m-comments__item cdepth-1" data-trophies="22" data-cron="6">

      <h2 class="title collapse_toggle ">
        I think a bit of tactical flexibility would be a breath of fresh air
      </h2>

      <div class="cbody">
        <p>We don’t necessarily have to change our base formation but changes for ‘situations’ should be standard practice. <span class="caps">LVG</span> is reluctant to chase games and everyone at United keeps moaning "they we’re sitting deep theres, nothing we could do… errr? errm philosophy and stuff yeh. "</p>
        <p>Rather then fully commiting yourself to this ridged pragmatism. Surely it’s more logical to take some bloody risks. Next time an opposition sits deep make the changes, that’s what subs are for. 4-1-4-1,  4-4-3, 4-4-2 are all dynamic attacking formations that can open up even the most stubborn, deepest and most drilled defences. We’re too predictable for a team that’s Relying on one man for goals.</p>
      </div>
      <div class="m-comments__item-meta">
        <i class="icon"></i>
        <a href="http://www.sbnation.com/users/JG11" class="poster" target="_blank">JG11</a>
        on <a href="#339638535" class="date">Nov 13, 2015 | 11:40 AM - Reply | Flag</a>
      </div>
      <a class="m-comments__trophy"><%= partial "trophy" %> <span class="m-comments__trophy-count">22</span></a>
    </div>

    <div id="339689331" class="m-comments__item cdepth-2" data-trophies="1" data-cron="7">
      <h2 class="title collapse_toggle ">
        Well said JG
      </h2>
      <div class="cbody">
        <p>I remember a time that when a team came to OT to just defend it was music to our ears, we’d wear them down, passing well, switching flank to flank, runners from midfield &amp; wide until invariably we’d stick 3 – 4 past them. Now our team lacks balls, daring do, &amp; are too cautious, we need the old United back!!</p>
      </div>

      <div class="m-comments__item-meta">
        <i class="icon"></i>
        <a href="http://www.sbnation.com/users/Keanedawg_16" class="poster" target="_blank">Keanedawg_16</a>
        on <a href="#339689331" class="date">Nov 13, 2015 |  3:51 PM - Reply | Flag</a>
      </div>
      <a class="m-comments__trophy"><%= partial "trophy" %> <span class="m-comments__trophy-count">1</span></a>
    </div>

    <div id="339685139" class="m-comments__item cdepth-2" data-trophies="0" data-cron="8">
        <h2 class="title collapse_toggle ">
          Nobody seems to use 4-4-2 these days
        </h2>

        <div class="cbody">
          <p>I’ve only seen Rafa’s Madrid using it. It seems like a dying formation nowadays, because 4-2-3-1 is the new 4-4-2.</p>
        </div>

        <div class="m-comments__item-meta">
          <i class="icon"></i>
          <a href="http://www.sbnation.com/users/Winning%20XI" class="poster" target="_blank">Winning XI</a>
          on <a href="#339685139" class="date">Nov 13, 2015 |  3:29 PM - Reply | Flag</a>
        </div>
        <a class="m-comments__trophy"><%= partial "trophy" %> <span class="m-comments__trophy-count">0</span></a>

    </div>

    <div id="339756551" class="m-comments__item cdepth-3" data-trophies="0" data-cron="9">
        <h2 class="title collapse_toggle ">
          It's because coaches are obsessed with shielding their defense
        </h2>

        <div class="cbody">
          <p>plus it provides a very good base to launch a counter attack from, but yeah I don’t like it, especially for United.</p>
        </div>

        <div class="m-comments__item-meta">
          <i class="icon"></i>
          <a href="http://www.sbnation.com/users/David28" class="poster" target="_blank">David28</a>
          on <a href="#339756551" class="date">Nov 13, 2015 |  9:59 PM - Reply | Flag</a>
        </div>
        <a class="m-comments__trophy"><%= partial "trophy" %> <span class="m-comments__trophy-count">0</span></a>

    </div>

    <div id="339788411" class="m-comments__item cdepth-2" data-trophies="0" data-cron="10">
        <h2 class="title collapse_toggle ">
          This might come off as dumb but...
        </h2>

        <div class="cbody">
          <p>Would a 4-3-3 be a solution to unlock defenses in a 4-2-3-1? With three forwards up front, it’s also really good on the counter-attack, I’m taking it as well? 4-1-4-1 looks even like a modified 4-3-3, and I often mistaken it as well.</p>
        </div>

        <div class="m-comments__item-meta">
          <i class="icon"></i>
          <a href="http://www.sbnation.com/users/Winning%20XI" class="poster" target="_blank">Winning XI</a>
          on <a href="#339788411" class="date">Nov 14, 2015 |  5:59 AM - Reply | Flag</a>
        </div>
        <a class="m-comments__trophy"><%= partial "trophy" %> <span class="m-comments__trophy-count">0</span></a>

    </div>

  </div>
  <%= partial "comment-form" %>
</div>